.App {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

button {
  margin: 20px 0;
}

.bank {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
